openapi: 3.0.3
info:
  title: Leanplum A/B Tests Data Export API
  version: 1.0.6
  description: 'The Leanplum (Leanplum by CleverTap) REST API. All requests are made to https://api.leanplum.com/api and are dispatched by an `action` parameter that names the method to run (for example action=track or action=sendMessage). Every request carries `appId`, a permission-scoped `clientKey`, and `apiVersion`; most requests also carry a `userId` and/or `deviceId`. Requests may be sent as GET (arguments as query parameters) or POST (arguments in a JSON or multipart body). Multiple actions can be batched with the `multi` method.


    Operating status note: Leanplum was acquired by CleverTap in 2022 and now operates as "Leanplum by CleverTap." The documented API surface below remains active during customer migration to CleverTap; CleverTap has wrapped its own methods behind these Leanplum API methods to ease that transition. Endpoint method names are grounded in the public Leanplum API reference; request/response schemas are modeled and should be verified against the live docs.'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
    url: https://www.leanplum.com
servers:
- url: https://api.leanplum.com
  description: Leanplum production API
tags:
- name: Data Export
paths:
  /api?action=exportData:
    get:
      tags:
      - Data Export
      operationId: exportData
      summary: Export raw data
      description: Exports raw session and event data to downloadable JSON or CSV files over a date range. Runs asynchronously; poll getMultiResults for status. Requires the data export clientKey.
      parameters:
      - $ref: '#/components/parameters/appId'
      - $ref: '#/components/parameters/clientKey'
      - $ref: '#/components/parameters/apiVersion'
      - name: startDate
        in: query
        schema:
          type: string
        description: Start date (YYYYMMDD).
      - name: endDate
        in: query
        schema:
          type: string
        description: End date (YYYYMMDD).
      - name: exportFormat
        in: query
        schema:
          type: string
          enum:
          - json
          - csv
      responses:
        '200':
          description: Export job accepted; job id returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api?action=exportUsers:
    get:
      tags:
      - Data Export
      operationId: exportUsers
      summary: Export user profiles
      description: Exports user profile data. Requires the data export clientKey.
      parameters:
      - $ref: '#/components/parameters/appId'
      - $ref: '#/components/parameters/clientKey'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Export job accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /api?action=exportUser:
    get:
      tags:
      - Data Export
      operationId: exportUser
      summary: Export a single user
      description: Exports the profile and history for one user. Requires the data export clientKey.
      parameters:
      - $ref: '#/components/parameters/appId'
      - $ref: '#/components/parameters/clientKey'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: User export.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /api?action=exportReport:
    get:
      tags:
      - Data Export
      operationId: exportReport
      summary: Export a report
      description: Exports messaging and A/B test reports. Requires the data export clientKey.
      parameters:
      - $ref: '#/components/parameters/appId'
      - $ref: '#/components/parameters/clientKey'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Report export.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /api?action=getMultiResults:
    get:
      tags:
      - Data Export
      operationId: getMultiResults
      summary: Get status of an async job
      description: Returns the status of an asynchronous multi import or data export job.
      parameters:
      - $ref: '#/components/parameters/appId'
      - $ref: '#/components/parameters/clientKey'
      - $ref: '#/components/parameters/apiVersion'
      - name: jobId
        in: query
        required: true
        schema:
          type: string
        description: The job id returned by an export/import call.
      responses:
        '200':
          description: Job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    ApiResponse:
      type: object
      description: Standard Leanplum response envelope with one response object per action.
      properties:
        response:
          type: array
          items:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  message:
                    type: string
            additionalProperties: true
  parameters:
    clientKey:
      name: clientKey
      in: query
      required: true
      schema:
        type: string
      description: The permission-scoped API key for the operation - production, development, data export, or content read-only. Send in the request body for POST requests to keep it secure.
    apiVersion:
      name: apiVersion
      in: query
      required: true
      schema:
        type: string
        default: 1.0.6
      description: API version, for example 1.0.6.
    appId:
      name: appId
      in: query
      required: true
      schema:
        type: string
      description: Your Leanplum application id.
    userId:
      name: userId
      in: query
      schema:
        type: string
      description: Identifier of the user the request applies to.
  responses:
    Forbidden:
      description: Forbidden - the supplied clientKey lacks permission for this action, or a multi batch exceeded the 50 user / 500 action limit.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
